/* Main chat container */

#chatContainer{
	width:510px;
	margin: auto;
	position:relative;
    padding-top: 10px;
}

/* Top Bar */

#chatTopBar{
	height:40px;
	background:#FFFFFF;
	border:1px solid #888;
	margin-bottom:15px;
	position:relative;
	color:#000000;
	text-shadow:1px 1px 0 #FFFFFF;
}

#chatTopBar .name{
	position:absolute;
	top:10px;
	left:40px;
}

#chatTopBar img{
	left:9px;
	position:absolute;
	top:8px;
}

/* Chats */


#chatLineHolder{
	height:360px;
	width:350px;
	margin-bottom:20px;
}

.chat{
	background:#2196F3;
	min-height:24px;
	padding:6px;
	border:1px solid #888;
	padding:8px 6px 4px 37px;
	position:relative;
	margin:0 10px 10px 0;
}

.chat:last-child{
	margin-bottom:0;
}

.chat span{
	color:#e2e2e2;
	text-shadow:1px 1px 0 #000000;
	font-size:12px;
}

.chat .text{
	color:#ffffff;
	display:inline-block;
	font-size:18px;
	overflow:hidden;
	vertical-align:top;
	width:190px;
}

.chat .gravatar{
	background:url('http://www.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?size=50') no-repeat;
	left:7px;
	position:absolute;
	top:7px;
}

.chat img{
	display:block;
	visibility:hidden;
}

.chat .time{
	position:absolute;
	right:10px;
	top:12px;
	font-size:11px;
}

.chat .author{
	margin-right:6px;
	font-size:16px;
}


/* Chat User Area */


#chatUsers{
	background-color:#FFFFFF;
	border:1px solid #888;
	height:360px;
	position:absolute;
	right:0;
	top:56px;
	width:150px;
}

#chatUsers .user{
	border:1px solid #888;
	float:left;
	height:32px;
	margin:10px 0 0 10px;
	width:32px;
}

#chatUsers .user img{
	display:block;
	visibility:hidden;
}


/* Bottom Bar */


#chatBottomBar{
	background:#ffffff;
	position:relative;
	padding:10px;
	border:1px solid #888;
}



#chatContainer input{
	background:rgba(0, 0, 0, 0.1);
	height:26px;
	font:13px/26px Calibri,Arial,sans-serif;
	color:#111111;
	border:1px solid;
	border-color:#888;
	
	padding:0 5px;
	margin-right:5px;
	width:185px;
	outline:none;
}


#submitForm{
	display:none;
}

input#chatText{
	/* The chat submit text field */
	width:385px;
}


/* Overloading the default styles of jScrollPane */


.jspVerticalBar{
	background:none;
	width:20px;
}

.jspTrack{
	background-color:#202020;
	border:1px solid #111111;
	width:3px;
	right:-10px;
}

.jspDrag {
	background:url('../img/slider.png') no-repeat;
	width:20px;
	left:-9px;
	height:20px !important;
	margin-top:-5px;
}

.jspDrag:hover{
	background-position:left bottom;
}


/* Additional styles */


/*a.logoutButton{
	background-color:#bbb;
	border:1px solid #eee !important;
	color:#FFFFFF !important;
	font-size:12px;
	padding:5px 9px;
	position:absolute;
	right:10px;
	text-shadow:1px 1px 0 #888;
	top:7px;
	
	-moz-box-shadow:0 0 7px #888 inset;
	-webkit-box-shadow:0 0 7px #888 inset;
	box-shadow:0 0 7px #888 inset;
}

a.logoutButton:hover{
	text-shadow:1px 1px 0 #888;
	
	-moz-box-shadow:0 0 7px #666 inset;
	-webkit-box-shadow:0 0 7px #666 inset;
	box-shadow:0 0 7px #666 inset;
}*/

#chatContainer .blueButton{
	background: #2196F3;
	border:none !important;
	color:#FFFFFF !important;
	display:inline-block;
	font-size:13px;
	height:29px;
	text-align:center;
	width:75px;
	margin:0;
	cursor:pointer;
    border-radius:4px;
}

#chatContainer .blueButton:hover{
	background-position:left bottom;
}

p.noChats,
#chatUsers .count{
	clear:both;
	font-size:12px;
	padding:10px;
	text-align:center;
	text-shadow:1px 1px 0 #FFFFFF;
    color: #000000;
}

#chatUsers .count{
	font-size:11px;
}

.rounded{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#chatErrorMessage{
	width:100%;
	top:0;
	left:0;
	position:fixed;
	background-color:#ab0909;
	border-bottom:1px solid #d32a2a;
	font-size:23px;
	padding:16px;
	text-align:center;
	color:#fff;
	text-shadow:1px 1px 0 #940f0f;
}

@media screen and (max-width: 610px) {
    
#chatContainer {
        width: 320px;
    padding-top: 0px;
    }
    
    #chatUsers {
        height: 290px;
        width: 110px;
    }
    
    #chatLineHolder {
        width: 220px;
        height: 290px;
    }
    
    #chatContainer input {
        width: 210px;
    }

}